<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Aula LIP</title>

        <link rel="stylesheet" href="../dist/reveal.css">
        <link rel="stylesheet" href="../dist/theme/ect.css" id="theme">

        <link rel="stylesheet" href="../plugin/highlight/monokai.css">
    </head>

    <body>

        <div class="reveal">
            <div class='footer'>
                <img src="../img/logo.png">Linguagem de Programação (ECT-2303).
            </div>

            <div class="slides">
                <!-- Slides are separated by three dashes (quick 'n dirty regular expression) -->
                <section data-auto-animate data-markdown data-separator="---">
                    <textarea data-template>

### Título 1 

- item _one_
- item __two__
- item *three*

```cpp[1-2|3|4]
#include < iostream > // Needs those spaces, unfortunately 
int x;
int  y;
z = a + b;
```
---

### Título 2
>> Here some *quotes*

                    </textarea>
                </section>


            </div>
        </div>

        <script src="../dist/reveal.js"></script>
        <script src="../plugin/markdown/markdown.js"></script>
        <script src="../plugin/highlight/highlight.js"></script>
        <script src="../plugin/notes/notes.js"></script>

        <script>

            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,
                autoPlayMedia: true,
                plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
            });

        </script>

    </body>
</html>
